In [4]:
import pandas as pd

df = pd.read_csv(r"data\pay-gap\occupation-hourly-pay-by-gender-2017.csv")

In [5]:
df

,job_type_code,job_subtype_code,job_type,job_subtype,num_jobs_male,median_male,num_jobs_female,median_female,num_jobs,proportion_female,pay_gap
0,1,11,"Managers, directors and senior officials",Corporate managers and directors,1461,23.75,700,20.36,2161,32.392411,14.273684
1,1,12,"Managers, directors and senior officials",Other managers and proprietors,229,14.67,207,13.59,436,47.477064,7.361963
2,2,21,Professional occupations,"Science, research, engineering and technology ...",1038,21.09,246,19.05,1284,19.158879,9.672831
3,2,22,Professional occupations,Health professionals,359,21.03,1145,17.77,1504,76.130319,15.501664
4,2,23,Professional occupations,Teaching and educational professionals,520,23.60,947,21.76,1467,64.553511,7.796610
5,2,24,Professional occupations,"Business, media and public service professionals",821,20.37,586,18.65,1407,41.648898,8.443790
6,3,31,Associate professional and technical occupations,"Science, engineering and technology associate ...",522,14.49,171,12.13,693,24.675325,16.287095
7,3,32,Associate professional and technical occupations,Health and social care associate professionals,99,13.34,242,12.52,341,70.967742,6.146927
8,3,33,Associate professional and technical occupations,Protective service occupations,298,18.29,111,18.19,409,27.139364,0.546747
9,3,34,Associate professional and technical occupations,"Culture, media and sports occupations",139,13.78,99,12.78,238,41.596639,7.256894
10,3,35,Associate professional and technical occupations,Business and public service associate professi...,1134,17.99,1032,14.87,2166,47.645429,17.342968
11,4,41,Administrative and secretarial occupations,Administrative occupations,713,11.81,1745,10.77,2458,70.992677,8.806097
12,4,42,Administrative and secretarial occupations,Secretarial and related occupations,58,9.23,571,9.92,629,90.779014,-7.475623
13,5,51,Skilled trades occupations,Skilled agricultural and related trades,99,9.51,10,9.26,109,9.174312,2.628812
14,5,52,Skilled trades occupations,"Skilled metal, electrical and electronic trades",977,13.76,30,12.07,1007,2.979146,12.281977
15,5,53,Skilled trades occupations,Skilled construction and building trades,305,12.51,6,10.44,311,1.929260,16.546763
16,5,54,Skilled trades occupations,"Textiles, printing and other skilled trades",335,9.25,170,8.59,505,33.663366,7.135135
17,6,61,"Caring, leisure and other service occupations",Caring personal service occupations,301,9.32,1749,9.07,2050,85.317073,2.682403
18,6,62,"Caring, leisure and other service occupations","Leisure, travel and related personal service o...",167,9.81,274,8.63,441,62.131519,12.028542
19,7,71,Sales and customer service occupations,Sales occupations,578,8.48,971,8.00,1549,62.685604,5.660377
20,7,72,Sales and customer service occupations,Customer service occupations,230,9.83,340,9.82,570,59.649123,0.101729
21,8,81,"Process, plant and machine operatives","Process, plant and machine operatives",591,10.60,155,8.50,746,20.777480,19.811321
22,8,82,"Process, plant and machine operatives",Transport and mobile machine drivers and opera...,767,10.72,34,9.20,801,4.244694,14.179104
23,9,91,Elementary occupations,Elementary trades and related occupations,260,9.24,96,8.00,356,26.966292,13.419913
24,9,92,Elementary occupations,Elementary administration and service occupations,1258,8.58,1347,7.85,2605,51.708253,8.508159